<button class="card">
    <div class="rowclearfix">
        <div class="left big">720-297-0078</div>
        <div class="right">
            <p><span class="big">A</span>rapahoe <span class="big">C</span>ounty</p>
            <p><span class="med no-space">C</span><span class="small no-space">urrently </span>
            <span class="med no-space">B</span><span class="small no-space">lank</span></p>
        </div>
    </div>
    <div class="row">
        <p class="capilize">Dylan <span class="capilize">Utsler</span></p>
        <p class="capilize">Software <span class="capilize">Engineer </span>student</p>
    </div>
    <div class="row">
        <p><span class="med">5108 </span><span class="small">Miriam </span><span class="med">Ln</span>
        <span class="small">Parker </span><span class="med">CO, </span><span class="small">80134 </span>
        
        </p>
    </div>
</button>
