<div>
    <h2 class="projectTitle">Dynamic Business Card</h2>
    <hr>
    <form>
        <fieldset>
            <Legend>Modify Your Business Card</Legend>
            <label>First Name</label><input id="firstNameInput" (input)="setProperty($event)"><br>
            <label>Last Name</label><input id="lastNameInput" (input)="setProperty($event)"><br>
            <label>Phone Number</label><input id="phoneNumberInput" (input)="setProperty($event)">
        </fieldset>
    </form>
</div>


<button class="card">
    <div class="rowclearfix">
        <div class="left big">{{phoneNumber}}</div>
        <div class="right">
            <p><span class="big">A</span>rapahoe <span class="big">C</span>ounty</p>
            <p><span class="med no-space">S</span><span class="small no-space">heriff's </span>
            <span class="med no-space">O</span><span class="small no-space">ffice</span></p>
        </div>
    </div>
    <div class="row">
        <p class="capilize">{{firstName}} <span class="capilize">{{lastName}}</span></p>
        <p class="capilize">Software <span class="capilize">Engineer </span>student</p>
    </div>
    <div class="row">
        <p><span class="med">5108 </span><span class="small">Miriam </span><span class="med">Ln</span>
        <span class="small">Parker </span><span class="med">CO, </span><span class="small">80134 </span>
        
        </p>
    </div>
</button>
