<div class = "resume">
    <div class = "personalinfo">
        <h1>{{personname}}</h1>
        <address>{{personaddress}}<br>{{personcity}}, {{personstate}}, {{personphone}}<br>{{personemail}}</address>
    </div>

    <div class ="summary">
        <h2>Summary</h2>
        <P>{{summary}}</P>
    </div>
    <div class ="education">
        <p>{{school1}} <span class="educationdates">{{school1Dates}}</span><br>
        Bachelor of Science in Software Engineering</p>
    </div>

    <div class="experience">
        <h2>Experience</h2>
        <p>{{experience1}} <span class="employmentdates">{{experience1Dates}}</span></p>
        <ul>
            <li>Operated and maintained complex weapon systems.</li>
            <li>Interpreted and executed detailed operational instructions while coordinating with team members ensuring mission success in time critical environments.</li>
            <li>Worked in a high pressure enviroment that required strong attention to detail.</li>
            <li>Taught and mentored junior personnel.</li>
        </ul>
        <p>{{experience2}}<span class="employmentdates">{{experience2Dates}}</span></p>
        <ul>
            <li>Managed a store of 11 employees, overseeing daily operations and ensuring customer satisfaction.</li>
            <li>Implemented store improvements to enhance employee efficiency while retaining a positive culture.</li>
            <li>Managed inventory and ensured stock levels met customer demand.</li>
        </ul>
        <p>{{experience3}}<span class="employmentdates">{{experience3Dates}}</span></p>
        <ul>
            <li>Enforce laws and maintain safety to the community and fellow deputies.</li>
            <li>Respond to emergencies while maintaining composure and making quick, effective decisions.</li>
            <li>Writing detailed reports and maintaining accurate records of incidents that occurred.</li>
        </ul>
    </div>
</div>