<div class = "Resume">
    <div class = "Personal info">
        <h1>Dylan Utsler</h1>
        <address>5108 Miriam Lane<br>Parker, CO, 720-297-0078<br>Dutsler1&#64;gmail.com</address>
    </div>

    <div class ="Summary">
        <h2>Summary</h2>
        <P>Detail-oriented Software Engineering student with professional experience in artillery operations, law enforcement, and operations management. 
        Skilled at problem solving, critical thinking, and working in fast-paced environments where accuracy and accountability are essential. 
        Experienced in leadership and process improvement, with a strong foundation in programming and software development concepts. 
        Eager to contribute to a development team and grow as a software engineer.</P>
    </div>
    <div class ="Education">
        <p>Western Governors University <span class="educationdates">2024 - present</span><br>
        Bachelor of Science in Software Engineering</p>
    </div>

    <div class="Experience">
        <h2>Experience</h2>
        <p>United States Marine Corps Artillery<span class="employmentdates"> 2014-2018</span></p>
        <ul>
            <li>Operated and maintained complex weapon systems.</li>
            <li>Interpreted and executed detailed operational instructions while coordinating with team members ensuring mission success in time critical environments.</li>
            <li>Worked in a high pressure enviroment that required strong attention to detail.</li>
            <li>Taught and mentored junior personnel.</li>
        </ul>
        <p>Store manager for Grease Monkey<span class="employmentdates"> 2018-2023</span></p>
        <ul>
            <li>Managed a store of 11 employees, overseeing daily operations and ensuring customer satisfaction.</li>
            <li>Implemented store improvements to enhance employee efficiency while retaining a positive culture.</li>
            <li>Managed inventory and ensured stock levels met customer demand.</li>
        </ul>
        <p>Deputy Sheriff at Arapahoe County Sheriffs office<span class="employmentdates"> 2023-present</span></p>
        <ul>
            <li>Enforce laws and maintain safety to the community and fellow deputies.</li>
            <li>Respond to emergencies while maintaining composure and making quick, effective decisions.</li>
            <li>Writing detailed reports and maintaining accurate records of incidents that occurred.</li>
        </ul>
    </div>
</div>